<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <section id="banner" class="style2">
      <div class="inner">
        <span class="image">
          <img src="{{ site.baseurl }}/assets/images/hero-bg.jpg" alt="">
        </span>
        <header class="major">
          <img src="{{ site.baseurl }}/assets/images/logo-no-bg.png" alt="">
        </header>
        <div class="content">
          {{ page.description }}
        </div>
      </div>

    </section>

    {{ content }}

    {% include footer.html %}
  </body>
</html>
